@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC:100,300,400,500,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, rem, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, rembed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
}

ol, ul {
  list-style: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

hr {
  box-sizing: content-box;
  height: 0;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-size: 1rem;
}

pre {
  white-space: pre-wrap;
}

q {
  quotes: "“" "”" "‘" "’";
}

small {
  font-size: 80%;
}

sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5rem;
}

sub {
  bottom: -0.25rem;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: none;
  margin: 0 2px;
  padding: 0.35rem 0.625rem 0.75rem;
}

legend {
  border: 0;
  padding: 0;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, select {
  text-transform: none;
}

button, html input[type=button] {
  -webkit-appearance: button;
  cursor: pointer;
}

input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}
input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}
input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
}

.clearfix {
  zoom: 1;
}
.clearfix:before {
  content: "";
  display: table;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

a {
  text-decoration: none;
  color: black;
}

html or element selector {
  -webkit-text-size-adjust: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.25), only screen and (min-resolution: 120dpi) {
  body {
    zoom: 0.8;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.302325581395349), only screen and (min-resolution: 125dpi) {
  body {
    zoom: 0.7;
  }
}
html, body, [canvas=container], [off-canvas] {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100vh;
  font-family: "Roboto", "Noto Sans TC", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  font-style: normal;
  color: #000;
  line-height: 175%;
}

a, button, input, select, textarea {
  transition: all 0.5s ease-in-out;
}

button.openNav {
  background: none;
  border: none;
  cursor: pointer;
}

input {
  background: #fff;
  border-width: 1px;
  border-color: #999;
  border-style: solid;
  border-radius: 5px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 12px;
  padding-right: 12px;
}
input:hover {
  background: #ff0;
}
input:active {
  background: #ff0;
}
input:focus {
  background: #ff0 !important;
  outline-width: 2px !important;
  outline-style: dashed !important;
  outline-color: #f00 !important;
  color: #000 !important;
}

select {
  background: #fff;
  border-width: 1px;
  border-color: #999;
  border-style: solid;
  border-radius: 5px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 12px;
  padding-right: 12px;
}
select:hover {
  background: #ff0;
}
select:focus {
  background: #ff0 !important;
  outline-width: 2px !important;
  outline-style: dashed !important;
  outline-color: #f00 !important;
  color: #000 !important;
}

textarea {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  height: 200px;
  background: #fff;
  padding-top: 16px;
  padding-bottom: 16px;
  border-width: 1px;
  border-color: #999;
  border-style: solid;
  border-radius: 5px;
}
textarea:hover {
  background: #ff0;
}
textarea:focus {
  background: #ff0 !important;
  outline-width: 2px !important;
  outline-style: dashed !important;
  outline-color: #f00 !important;
  color: #000 !important;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

[canvas] {
  z-index: 1;
}

[canvas=container] {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  position: relative;
  -webkit-overflow-scrolling: touch;
}

[canvas=container]:before,
[canvas=container]:after {
  clear: both;
  content: "";
  display: table;
}

[off-canvas] {
  display: none;
  position: fixed;
  overflow: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

[off-canvas*=top] {
  width: 100%;
  height: 255px;
  top: 0;
}

[off-canvas*=right] {
  width: 100%;
  height: 100vh;
  top: 0;
  right: 0;
}

[off-canvas*=bottom] {
  width: 100%;
  height: 255px;
  bottom: 0;
}

[off-canvas*=left] {
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}

[off-canvas*=reveal] {
  z-index: 0;
}

[off-canvas*=push] {
  z-index: 1;
}

[off-canvas*=overlay] {
  z-index: 9999;
}

[off-canvas*=shift] {
  z-index: 0;
}

[canvas], [off-canvas] {
  transform: translate(0px, 0px);
  transition: transform 300ms;
  -webkit-backface-visibility: hidden;
}

[off-canvas*=shift][off-canvas*=top] {
  transform: translate(0px, 50%);
}

[off-canvas*=shift][off-canvas*=right] {
  transform: translate(-50%, 0px);
}

[off-canvas*=shift][off-canvas*=bottom] {
  transform: translate(0px, -50%);
}

[off-canvas*=shift][off-canvas*=left] {
  transform: translate(50%, 0px);
}

.material-icons,
.material-icons-outlined,
.material-icons-sharp,
.material-icons-two-tone,
.material-icons-round {
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: "liga";
}

div.goTop {
  width: 2rem;
  transform: translateX(0);
  transition: transform 0.2s;
  position: fixed;
  bottom: 4rem;
  right: 2rem;
  z-index: 9999;
}
div.goTop.hide {
  transform: translateX(200%);
}
div.goTop a.goTop {
  border: none;
  cursor: pointer;
}
div.goTop a.goTop:focus p {
  background: #ff0;
  outline-width: 2px;
  outline-style: dashed;
  outline-color: #f00;
}

.sr-only {
  width: 1px;
  height: 1px;
  border: 0;
  font-size: 0.8125rem;
  letter-spacing: 0.05em;
  white-space: nowrap;
  margin: -1px;
  padding: 0;
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
}
.sr-only:focus {
  width: auto;
  height: auto;
  margin: 0;
  clip: auto;
  overflow: visible;
}

noscript.noscript {
  font-size: 0.8125rem;
}

sup {
  color: #f00;
}

a:focus {
  background: #ff0 !important;
  outline-width: 2px !important;
  outline-style: dashed !important;
  outline-color: #f00 !important;
  color: #000 !important;
}

img {
  vertical-align: bottom;
}

body {
  font-size: 1rem;
}
body a#skip_to_content, body a.guide_title {
  padding-left: 8.8px;
  padding-right: 8.8px;
}

@media screen and (min-width: 992px) {
  nav.desktop {
    display: block;
  }
  div.mobile {
    display: none;
  }
}
@media screen and (max-width: 991.98px) {
  nav.desktop {
    display: none;
  }
  div.mobile {
    display: block;
  }
}
header#HEADER {
  width: 100%;
  background: #fff;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000;
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
header#HEADER div.topper {
  background: #646464;
  display: flex;
  flex-wrap: wrap;
  margin-left: -16px;
  margin-right: -16px;
  justify-content: space-between !important;
  margin-left: 0px;
  margin-right: 0px;
  padding: 8px;
}
@media screen and (max-width: 576px) {
  header#HEADER div.topper {
    margin-left: 0px;
    margin-right: 0px;
  }
}
header#HEADER div.topper a {
  color: #fff;
}
header#HEADER div.topper a:hover {
  color: #ff0;
}
header#HEADER div.topper a:focus {
  color: #000;
}
header#HEADER div.topper ul.top_nav {
  display: flex;
  flex-wrap: wrap;
  margin-left: -16px;
  margin-right: -16px;
  align-items: center !important;
  justify-content: flex-end !important;
  margin-left: 0px;
  margin-right: 0px;
}
@media screen and (max-width: 576px) {
  header#HEADER div.topper ul.top_nav {
    margin-left: 0px;
    margin-right: 0px;
  }
}
header#HEADER div.topper ul.top_nav li {
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
  padding-left: 8px;
  padding-right: 8px;
}
header#HEADER div.topper ul.top_nav li:first-of-type {
  padding-left: 0px;
  padding-right: 0px;
}
header#HEADER div.topper ul.top_nav li:first-of-type a {
  padding-left: 0px;
  padding-right: 0px;
}
header#HEADER div.navbar {
  max-width: 1750px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  flex-wrap: wrap;
  margin-left: -16px;
  margin-right: -16px;
  justify-content: space-between !important;
  align-items: center !important;
  margin-left: auto;
  margin-right: auto;
  padding: 16px;
}
@media screen and (max-width: 576px) {
  header#HEADER div.navbar {
    margin-left: 0px;
    margin-right: 0px;
  }
}
header#HEADER div.navbar div.logo {
  width: auto;
  padding-left: 16px;
}
header#HEADER div.navbar div.logo h1 a {
  display: flex;
  flex-wrap: wrap;
  margin-left: -16px;
  margin-right: -16px;
}
header#HEADER div.navbar div.logo h1 a img {
  width: 368px;
}
@media screen and (max-width: 576px) {
  header#HEADER div.navbar div.logo h1 a {
    margin-left: 0px;
    margin-right: 0px;
  }
}
@media (max-width: 1200px) {
  header#HEADER div.navbar div.logo h1 a img {
    width: 320px;
  }
}
@media screen and (max-width: 576px) {
  header#HEADER div.navbar div.logo h1 a img {
    width: 288px;
  }
}
@media screen and (max-width: 575.98px) {
  header#HEADER div.navbar div.logo h1 a img {
    width: 256px;
  }
}
header#HEADER div.navbar nav.desktop#NAV ul.nav {
  display: flex;
  flex-wrap: wrap;
  margin-left: -16px;
  margin-right: -16px;
  justify-content: center !important;
  align-items: center !important;
}
@media screen and (max-width: 576px) {
  header#HEADER div.navbar nav.desktop#NAV ul.nav {
    margin-left: 0px;
    margin-right: 0px;
  }
}
header#HEADER div.navbar nav.desktop#NAV ul.nav li {
  padding-left: 8px;
  padding-right: 8px;
}
@media (max-width: 1200px) {
  header#HEADER div.navbar nav.desktop#NAV ul.nav li {
    padding-left: 0px;
    padding-right: 0px;
  }
}
header#HEADER div.navbar nav.desktop#NAV ul.nav li a {
  font-size: 1.25rem;
  font-weight: 700;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8.8px;
  padding-right: 8.8px;
}
header#HEADER div.navbar nav.desktop#NAV ul.nav li a:hover {
  background: #a00;
  color: #fff;
}
header#HEADER div.navbar nav.desktop#NAV ul.nav li a:active {
  background: #000;
  color: #fff;
}
header#HEADER div.navbar div.mobile div.navOpen button.navOpen {
  background: none;
  border: none;
  padding-left: 0px;
  padding-right: 0px;
  position: absolute;
  top: 4rem;
  right: 2rem;
}
header#HEADER div.navbar div.mobile div.navOpen button.navOpen img {
  width: 2rem;
  height: 2rem;
}
header#HEADER div.navbar div.mobile div[off-canvas] {
  width: 100%;
  background: rgba(255, 255, 255, 0.8666666667);
}
header#HEADER div.navbar div.mobile div[off-canvas] button.navClose {
  background: none;
  border: none;
  position: absolute;
  top: 1rem;
  right: 1rem;
}
header#HEADER div.navbar div.mobile div[off-canvas] button.navClose img {
  width: 2rem;
  height: 2rem;
}
header#HEADER div.navbar div.mobile div[off-canvas] ul.nav {
  margin-top: 80px;
}
header#HEADER div.navbar div.mobile div[off-canvas] ul.nav li {
  font-size: 1.85rem;
  text-align: center;
  margin-bottom: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
}

footer#FOOTER {
  background: #e5e5e5;
}
footer#FOOTER div.guide_title {
  padding-left: 4px;
}
footer#FOOTER div.guide_title a.guide_title {
  color: #000;
}
footer#FOOTER ul.footer_menu {
  display: flex;
  flex-wrap: wrap;
  margin-left: -16px;
  margin-right: -16px;
  justify-content: center !important;
  align-items: center !important;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 16px;
}
@media screen and (max-width: 576px) {
  footer#FOOTER ul.footer_menu {
    margin-left: 0px;
    margin-right: 0px;
  }
}
@media screen and (max-width: 576px) {
  footer#FOOTER ul.footer_menu {
    display: none;
  }
}
footer#FOOTER ul.footer_menu li {
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
}
footer#FOOTER ul.footer_menu li::after {
  content: "|";
  padding-left: 8px;
  padding-right: 8px;
}
footer#FOOTER ul.footer_menu li:last-of-type::after {
  content: none;
}
footer#FOOTER ul.footer_menu li a {
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
}
footer#FOOTER div.service_info {
  text-align: center;
  margin-bottom: 16px;
  padding-left: 16px;
  padding-right: 16px;
}
footer#FOOTER ul.contact_info {
  display: flex;
  flex-wrap: wrap;
  margin-left: -16px;
  margin-right: -16px;
  justify-content: center !important;
  align-items: center !important;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 16px;
}
@media screen and (max-width: 576px) {
  footer#FOOTER ul.contact_info {
    margin-left: 0px;
    margin-right: 0px;
  }
}
footer#FOOTER ul.contact_info li {
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
  padding-left: 16px;
  padding-right: 16px;
}
footer#FOOTER ul.contact_info li img {
  width: 97px;
}
footer#FOOTER ul.contact_info li:last-of-type {
  padding-bottom: 0px;
}
footer#FOOTER div.copyright {
  background: #221e1f;
  color: #fff;
  text-align: center;
  padding-top: 16px;
  padding-bottom: 16px;
}

div.editable_content a {
  border-bottom-width: 2px;
  border-bottom-color: #000;
  border-bottom-style: solid;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  text-decoration: none;
}
div.editable_content a i {
  width: -moz-fit-content;
  width: fit-content;
  border: none;
  border-radius: 8px;
  text-align: center;
  transition: all 0.5s ease-in-out;
  font-family: "Material Icons";
}
div.editable_content a i::before {
  font-size: 2rem;
  font-weight: normal;
  font-style: normal;
  color: #a00;
  line-height: 100%;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: "liga";
  display: inline-block;
}
div.editable_content a i:hover {
  color: #000;
}
div.editable_content a i:active {
  color: #000;
}
div.editable_content a i::before {
  content: "\e88e";
}
div.editable_content a i::before {
  font-size: 1rem;
  color: #000;
  margin-right: 4px;
}
div.editable_content a:hover {
  background: #a00;
  border: none;
  color: #fff;
}
div.editable_content a:hover i::before {
  color: #fff;
}

h3.form_title {
  font-size: 1.5rem;
  color: #a00;
  margin-bottom: 8px;
  padding-left: 2.4px;
}

h3.subtitle {
  font-size: 1.5rem;
  color: #a00;
  margin-top: 40px;
  margin-bottom: 32px;
}

div.form_content {
  border-width: 1px;
  border-color: #ccc;
  border-style: solid;
  margin-bottom: 64px;
  padding: 48px;
}
@media screen and (max-width: 767px) {
  div.form_content {
    padding: 24px;
  }
}
div.form_content div.button {
  text-align: center;
}
div.form_content div.button button {
  border-width: 0;
  border-color: #000;
  border-style: solid;
  border-radius: 5px;
  color: #fff;
  font-weight: 500;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 24px;
  padding-right: 24px;
}
div.form_content div.button button.reset {
  background: #6c6e70;
  margin-right: 8px;
}
div.form_content div.button button.reset:hover {
  background: #000;
}
div.form_content div.button button.reset:focus {
  background: #ff0;
  color: #000;
  outline-width: 2px;
  outline-style: dashed;
  outline-color: #f00;
}
div.form_content div.button button.submit {
  background: #a21b23;
  margin-left: 8px;
}
div.form_content div.button button.submit:hover {
  background: #0f7c25;
}
div.form_content div.button button.submit:focus {
  background: #ff0;
  color: #000;
  outline-width: 2px;
  outline-style: dashed;
  outline-color: #f00;
}

ul.form {
  display: flex;
  flex-wrap: wrap;
  margin-left: -16px;
  margin-right: -16px;
  align-items: center !important;
  justify-content: flex-start !important;
}
@media screen and (max-width: 576px) {
  ul.form {
    margin-left: 0px;
    margin-right: 0px;
  }
}
ul.form > li {
  flex-basis: 0;
  flex-grow: 1;
  flex: 0 0 50%;
  max-width: 50%;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  flex-wrap: wrap;
  margin-left: -16px;
  margin-right: -16px;
  align-items: center !important;
  justify-content: flex-start !important;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 32px;
}
@media screen and (max-width: 576px) {
  ul.form > li {
    margin-left: 0px;
    margin-right: 0px;
  }
}
@media screen and (max-width: 576px) {
  ul.form > li {
    flex-basis: 0;
    flex-grow: 1;
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
  }
}
ul.form > li label {
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
  margin-right: 16px;
}
@media screen and (max-width: 576px) {
  ul.form > li label {
    flex-basis: 0;
    flex-grow: 1;
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
    padding-left: 0px;
    margin-bottom: 8px;
  }
}
ul.form > li input {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
ul.form > li input[type=radio] {
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
  margin-right: 8px;
}
ul.form > li label span {
  color: #f00;
  padding-left: 8px;
}
ul.form li.genders_service, ul.form li.title {
  flex-basis: 0;
  flex-grow: 1;
  flex: 0 0 100%;
  max-width: 100%;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (max-width: 576px) {
  ul.form li.genders label {
    margin-bottom: 0px;
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
  ul.form li.genders label:first-of-type {
    flex-basis: 0;
    flex-grow: 1;
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
    padding-left: 0px;
  }
  ul.form li.genders input[type=radio] {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
}
ul.form li.location {
  align-items: flex-start !important;
}
@media screen and (max-width: 991px) {
  ul.form li.location {
    flex-basis: 0;
    flex-grow: 1;
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
  }
}
ul.form li.location ul.location_select {
  padding-left: 0px;
  padding-right: 0px;
}
ul.form li.location ul.location_select li {
  display: flex;
  flex-wrap: wrap;
  margin-left: -16px;
  margin-right: -16px;
  align-items: center !important;
  justify-content: flex-start !important;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 8px;
}
@media screen and (max-width: 576px) {
  ul.form li.location ul.location_select li {
    margin-left: 0px;
    margin-right: 0px;
  }
}
ul.form li.location ul.location_select li label {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  padding-left: 0px;
}
ul.form li.location ul.location_select li label span {
  color: #999;
}
ul.form li.location ul.location_select li label[for=RecycleMap-e] {
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
  margin-right: 0px;
}
ul.form li.location ul.location_select li select {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (max-width: 767px) {
  ul.form li.location ul.location_select li select {
    width: 100%;
    flex-basis: 0;
    flex-grow: 1;
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media screen and (max-width: 576px) {
  ul.form li.location ul.location_select li input[type=radio] {
    margin-top: 8px;
  }
}
ul.form li.address {
  align-items: flex-start !important;
  align-self: flex-start !important;
}
@media screen and (max-width: 991px) {
  ul.form li.address {
    flex-basis: 0;
    flex-grow: 1;
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
  }
}
ul.form li.address ul.address_cont {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  flex-wrap: wrap;
  margin-left: -16px;
  margin-right: -16px;
  align-items: center !important;
  justify-content: flex-start !important;
}
@media screen and (max-width: 576px) {
  ul.form li.address ul.address_cont {
    margin-left: 0px;
    margin-right: 0px;
  }
}
@media screen and (max-width: 767px) {
  ul.form li.address ul.address_cont {
    padding-left: 0px;
    padding-right: 0px;
  }
}
ul.form li.address ul.address_cont li {
  flex-basis: 0;
  flex-grow: 1;
  flex: 0 0 33.3333333333%;
  max-width: 33.3333333333%;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 16px;
  padding-left: 8px;
  padding-right: 8px;
}
ul.form li.address ul.address_cont li:first-of-type {
  padding-left: 0px;
}
ul.form li.address ul.address_cont li label {
  margin-right: 0px;
  padding: 0px;
}
ul.form li.address ul.address_cont li input, ul.form li.address ul.address_cont li select {
  width: 100%;
}
ul.form li.address ul.address_cont li.addCont {
  flex-basis: 0;
  flex-grow: 1;
  flex: 0 0 100%;
  max-width: 100%;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  padding-left: 0px;
  padding-right: 8px;
}
ul.form li.items {
  flex-basis: 0;
  flex-grow: 1;
  flex: 0 0 100%;
  max-width: 100%;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
}
ul.form li.items select {
  flex-basis: 0;
  flex-grow: 1;
  flex: 0 0 25%;
  max-width: 25%;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (max-width: 576px) {
  ul.form li.items select {
    flex-basis: 0;
    flex-grow: 1;
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
  }
}
ul.form li.items ul.itemCont {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-left: -16px;
  margin-right: -16px;
  align-items: center !important;
  justify-content: flex-start !important;
  margin-top: 24px;
}
@media screen and (max-width: 576px) {
  ul.form li.items ul.itemCont {
    margin-left: 0px;
    margin-right: 0px;
  }
}
ul.form li.items ul.itemCont li {
  flex-basis: 0;
  flex-grow: 1;
  flex: 0 0 16.6666666667%;
  max-width: 16.6666666667%;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 24px;
}
@media (max-width: 1023px) {
  ul.form li.items ul.itemCont li {
    flex-basis: 0;
    flex-grow: 1;
    flex: 0 0 25%;
    max-width: 25%;
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media screen and (max-width: 767px) {
  ul.form li.items ul.itemCont li {
    flex-basis: 0;
    flex-grow: 1;
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media screen and (max-width: 576px) {
  ul.form li.items ul.itemCont li {
    flex-basis: 0;
    flex-grow: 1;
    flex: 0 0 50%;
    max-width: 50%;
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
  }
}
ul.form li.items ul.itemCont li div.img {
  height: 100vh;
  max-height: 265px;
  border-width: 1px;
  border-color: #ccc;
  border-style: solid;
  line-height: 0;
  margin-bottom: 12px;
  padding: 4px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center !important;
  justify-content: flex-start !important;
}
ul.form li.items ul.itemCont li input[type=number] {
  width: 100%;
}
ul.form li.items ul.itemCont li input:focus + label {
  background: #ff0;
  outline-width: 2px;
  outline-style: dashed;
  outline-color: #f00;
  color: #000;
}
ul.form li.ContactSevriveOptions {
  flex-basis: 0;
  flex-grow: 1;
  flex: 0 0 25%;
  max-width: 25%;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  flex-wrap: wrap;
  margin-left: -16px;
  margin-right: -16px;
  align-items: center !important;
  justify-content: flex-start !important;
}
@media screen and (max-width: 576px) {
  ul.form li.ContactSevriveOptions {
    margin-left: 0px;
    margin-right: 0px;
  }
}
@media (max-width: 1600px) {
  ul.form li.ContactSevriveOptions {
    flex-basis: 0;
    flex-grow: 1;
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media (max-width: 1200px) {
  ul.form li.ContactSevriveOptions {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media screen and (max-width: 576px) {
  ul.form li.ContactSevriveOptions {
    flex-basis: 0;
    flex-grow: 1;
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
  }
}
ul.form li.ContactSevriveOptions label {
  flex-basis: 0;
  flex-grow: 1;
  flex: 0 0 100%;
  max-width: 100%;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
}
ul.form li.ContactSevriveOptions label[for=ContactSevriveOptions] {
  margin-right: 0px;
}
ul.form li.ContactSevriveOptions ul.SevriveOptions {
  flex-basis: 0;
  flex-grow: 1;
  flex: 0 0 100%;
  max-width: 100%;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  flex-wrap: wrap;
  margin-left: -16px;
  margin-right: -16px;
  align-items: center !important;
  justify-content: flex-start !important;
  margin-left: 0px;
  margin-right: 0px;
}
@media screen and (max-width: 576px) {
  ul.form li.ContactSevriveOptions ul.SevriveOptions {
    margin-left: 0px;
    margin-right: 0px;
  }
}
ul.form li.ContactSevriveOptions ul.SevriveOptions li {
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
  align-items: center !important;
  justify-content: flex-start !important;
  text-align: left;
}
ul.form li.ContactSevriveOptions ul.SevriveOptions li > label {
  padding-left: 0px;
  padding-right: 0px;
}
ul.form li.notice {
  flex-basis: 0;
  flex-grow: 1;
  flex: 0 0 100%;
  max-width: 100%;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  align-items: flex-start !important;
}
ul.form li.notice ul.noteCont li input:focus + label {
  background: #ff0;
  outline-width: 2px;
  outline-style: dashed;
  outline-color: #f00;
  color: #000;
}
ul.form li.notice ul.noticeDot li {
  list-style-type: disc;
  margin-left: 32px;
}
@media (max-width: 1366px) {
  ul.form li.CAPTCHA {
    flex-basis: 0;
    flex-grow: 1;
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media (max-width: 1200px) {
  ul.form li.CAPTCHA {
    flex-basis: 0;
    flex-grow: 1;
    flex: 0 0 75%;
    max-width: 75%;
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media screen and (max-width: 991px) {
  ul.form li.CAPTCHA {
    flex-basis: 0;
    flex-grow: 1;
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media screen and (max-width: 767px) {
  ul.form li.CAPTCHA {
    flex-basis: 0;
    flex-grow: 1;
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
  }
}
ul.form li.CAPTCHA img {
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
  margin-left: 16px;
  margin-right: 16px;
}
ul.form li.CAPTCHA span {
  margin-left: 8px;
}

section.content {
  max-width: 1750px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
section.content div#content > div, section.content div#sitemap > div {
  background: #fff;
  border-width: 1px;
  border-color: #ddd;
  border-style: solid;
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 48px;
  padding-right: 48px;
}
@media screen and (max-width: 576px) {
  section.content div#content > div, section.content div#sitemap > div {
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
section.content div#Breadcrumbs {
  margin-top: 24px;
  margin-bottom: 24px;
}
section.content div#Breadcrumbs ul.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  margin-left: -16px;
  margin-right: -16px;
  align-items: center !important;
  justify-content: flex-start !important;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 24px;
  padding-left: 16px;
  padding-right: 16px;
}
@media screen and (max-width: 576px) {
  section.content div#Breadcrumbs ul.breadcrumbs {
    margin-left: 0px;
    margin-right: 0px;
  }
}
section.content div#Breadcrumbs ul.breadcrumbs li {
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
}
section.content div#Breadcrumbs ul.breadcrumbs li a {
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
}
section.content div#Breadcrumbs ul.breadcrumbs li a:hover {
  background: #000;
  color: #fff;
}
section.content div#Breadcrumbs ul.breadcrumbs li span {
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
}
section.content div#Breadcrumbs ul.breadcrumbs li::after {
  content: "/";
  margin-left: 8px;
  margin-right: 8px;
}
section.content div#Breadcrumbs ul.breadcrumbs li:last-of-type {
  font-weight: 700;
}
section.content div#Breadcrumbs ul.breadcrumbs li:last-of-type::after {
  content: none;
}
section.content div.title {
  margin-bottom: 32px;
}
section.content div.title h2 {
  font-size: 2rem;
  text-align: center;
}
section.content div.title h2::before {
  content: "";
  border-left-width: 6px;
  border-left-color: #a00;
  border-left-style: solid;
  margin-right: 16px;
}
section.content div#about {
  display: flex;
  flex-wrap: wrap;
  margin-left: -16px;
  margin-right: -16px;
  align-items: flex-start !important;
  justify-content: center !important;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 48px;
}
@media screen and (max-width: 576px) {
  section.content div#about {
    margin-left: 0px;
    margin-right: 0px;
  }
}
section.content div#about aside {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (max-width: 991px) {
  section.content div#about aside {
    flex-basis: 0;
    flex-grow: 1;
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media screen and (max-width: 991px) {
  section.content div#about aside ul {
    display: flex;
    flex-wrap: wrap;
    margin-left: -16px;
    margin-right: -16px;
    align-items: center !important;
    justify-content: center !important;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 24px;
  }
}
@media screen and (max-width: 991px) and (max-width: 576px) {
  section.content div#about aside ul {
    margin-left: 0px;
    margin-right: 0px;
  }
}
@media screen and (max-width: 576px) {
  section.content div#about aside ul {
    flex-direction: column;
  }
}
section.content div#about aside ul li {
  background: #ccc;
  font-size: 1.05rem;
  padding: 0px;
  margin-bottom: 2px;
}
@media screen and (max-width: 991px) {
  section.content div#about aside ul li {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 8px;
    margin-right: 8px;
  }
}
@media screen and (max-width: 576px) {
  section.content div#about aside ul li {
    width: 100%;
    flex-basis: 0;
    flex-grow: 1;
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 8px;
  }
}
section.content div#about aside ul li a {
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 16px;
  padding-right: 16px;
}
section.content div#about aside ul li a:focus li {
  background: #ff0;
  outline-width: 2px;
  outline-style: dashed;
  outline-color: #f00;
  color: #000;
}
section.content div#about aside ul li a:hover {
  background: #b90e24;
  color: #fff;
  border-bottom: none;
}
section.content div#about div#content {
  flex-basis: 0;
  flex-grow: 1;
  flex: 0 0 83.3333333333%;
  max-width: 83.3333333333%;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (max-width: 991px) {
  section.content div#about div#content {
    flex-basis: 0;
    flex-grow: 1;
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
  }
}
section.content div#about div#content > div div.editable_content h3 {
  margin-bottom: 8px;
}
section.content div#about div#content > div div.editable_content p {
  margin-bottom: 24px;
}
section.content div#news div.list_tab {
  max-width: 1310px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 48px;
}
section.content div#news div.list_tab ul {
  display: flex;
  flex-wrap: wrap;
  margin-left: -16px;
  margin-right: -16px;
  align-items: center !important;
  justify-content: center !important;
}
@media screen and (max-width: 576px) {
  section.content div#news div.list_tab ul {
    margin-left: 0px;
    margin-right: 0px;
  }
}
section.content div#news div.list_tab ul li {
  flex-basis: 0;
  flex-grow: 1;
  flex: 0 0 25%;
  max-width: 25%;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (max-width: 767px) {
  section.content div#news div.list_tab ul li {
    flex-basis: 0;
    flex-grow: 1;
    flex: 0 0 50%;
    max-width: 50%;
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 16px;
  }
}
section.content div#news div.list_tab ul li p {
  border-width: 1px;
  border-color: #000;
  border-style: solid;
  border-radius: 10px;
  text-align: center;
  padding-top: 4px;
  padding-bottom: 4px;
}
section.content div#news div.list_tab ul li a.acitve p {
  background: #a00;
  border-color: #a00;
  color: #fff;
}
section.content div#news div.list_tab ul li a {
  text-align: center;
}
section.content div#news div.list_tab ul li a:hover p {
  background: #a00;
  border-color: #a00;
  color: #fff;
}
section.content div#news div.list_tab ul li a:focus p {
  background: #ff0;
  outline-width: 2px;
  outline-style: dashed;
  outline-color: #f00;
  color: #000;
}
section.content div#news ul.list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -16px;
  margin-right: -16px;
  align-items: center !important;
  justify-content: space-between !important;
  margin-left: 0px;
  margin-right: 0px;
}
@media screen and (max-width: 576px) {
  section.content div#news ul.list {
    margin-left: 0px;
    margin-right: 0px;
  }
}
section.content div#news ul.list li {
  flex-basis: 0;
  flex-grow: 1;
  flex: 0 0 50%;
  max-width: 50%;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  border-bottom-width: 1px;
  border-bottom-color: #ccc;
  border-bottom-style: dashed;
  margin-bottom: 24px;
  padding-bottom: 24px;
}
section.content div#news ul.list li:last-of-type, section.content div#news ul.list li:nth-last-of-type(2) {
  border: none;
}
section.content div#news ul.list li p.date {
  display: flex;
  flex-wrap: wrap;
  margin-left: -16px;
  margin-right: -16px;
  align-items: center !important;
  justify-content: flex-start !important;
  color: #a00;
  padding-top: 4px;
  padding-bottom: 4px;
  text-decoration: none;
}
@media screen and (max-width: 576px) {
  section.content div#news ul.list li p.date {
    margin-left: 0px;
    margin-right: 0px;
  }
}
section.content div#news ul.list li p.date i {
  width: -moz-fit-content;
  width: fit-content;
  border: none;
  border-radius: 8px;
  text-align: center;
  transition: all 0.5s ease-in-out;
  font-family: "Material Icons";
}
section.content div#news ul.list li p.date i::before {
  font-size: 2rem;
  font-weight: normal;
  font-style: normal;
  color: #a00;
  line-height: 100%;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: "liga";
  display: inline-block;
}
section.content div#news ul.list li p.date i:hover {
  color: #000;
}
section.content div#news ul.list li p.date i:active {
  color: #000;
}
section.content div#news ul.list li p.date i::before {
  content: "\e192";
}
section.content div#news ul.list li p.date i, section.content div#news ul.list li p.date span {
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
}
section.content div#news ul.list li p.date i::before {
  font-size: 1rem;
  margin-right: 4px;
}
section.content div#news ul.list li p.list_title {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  padding-left: 4px;
}
section.content div#news ul.list li a:hover p {
  background: #a00;
  color: #fff;
}
section.content div#news ul.list li a:focus p {
  background: #ff0;
  outline-width: 2px;
  outline-style: dashed;
  outline-color: #f00;
  color: #000;
}
section.content div#news ul.pagination {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-left: -16px;
  margin-right: -16px;
  justify-content: center !important;
  margin-top: 32px;
  margin-bottom: 32px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 576px) {
  section.content div#news ul.pagination {
    margin-left: 0px;
    margin-right: 0px;
  }
}
section.content div#news ul.pagination li.page-item {
  padding-left: 8px;
  padding-right: 8px;
}
section.content div#news ul.pagination li.page-item a.page-link {
  background-color: #ccc;
  border-radius: 50%;
  color: #000;
  text-align: center;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 20.8px;
  padding-right: 20.8px;
  position: relative;
}
section.content div#news ul.pagination li.page-item a.page-link::before {
  content: "";
  width: 40px;
  height: 40px;
  background-size: 18px 18px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  position: absolute;
  top: 5px;
  left: 6px;
}
section.content div#news ul.pagination li.page-item a.page-link:hover, section.content div#news ul.pagination li.page-item a.page-link:focus {
  color: #ff0;
  background-color: #000;
}
section.content div#news ul.pagination li.page-item:first-of-type a, section.content div#news ul.pagination li.page-item:last-of-type a, section.content div#news ul.pagination li.page-item:nth-of-type(2) a, section.content div#news ul.pagination li.page-item:nth-last-of-type(2) a {
  padding-left: 26.4px;
  padding-right: 26.4px;
}
section.content div#news ul.pagination li.page-item:first-of-type a::before {
  background-image: url("../images/icons/icon_pagi_first.svg");
}
section.content div#news ul.pagination li.page-item:first-of-type a:hover::before {
  background-image: url("../images/icons/icon_pagi_first_ove.svg");
}
section.content div#news ul.pagination li.page-item:nth-of-type(2) a::before {
  background-size: 14px 14px;
  background-image: url("../images/icons/icon_pagi_prev.svg");
}
section.content div#news ul.pagination li.page-item:nth-of-type(2) a:hover::before {
  background-image: url("../images/icons/icon_pagi_prev_ove.svg");
}
section.content div#news ul.pagination li.page-item:nth-last-of-type(2) a::before {
  background-size: 14px 14px;
  background-image: url("../images/icons/icon_pagi_next.svg");
}
section.content div#news ul.pagination li.page-item:nth-last-of-type(2) a:hover::before {
  background-image: url("../images/icons/icon_pagi_next_ove.svg");
}
section.content div#news ul.pagination li.page-item:last-of-type a::before {
  background-image: url("../images/icons/icon_pagi_last.svg");
}
section.content div#news ul.pagination li.page-item:last-of-type a:hover::before {
  background-image: url("../images/icons/icon_pagi_last_ove.svg");
}
@media screen and (max-width: 991px) {
  section.content div#news ul.pagination li.page-item {
    display: block;
  }
}
@media screen and (max-width: 767px) {
  section.content div#news ul.pagination li.page-item {
    display: none;
  }
  section.content div#news ul.pagination li.page-item:first-of-type, section.content div#news ul.pagination li.page-item:last-of-type, section.content div#news ul.pagination li.page-item:nth-of-type(2), section.content div#news ul.pagination li.page-item:nth-last-of-type(2) {
    display: block;
  }
}
@media screen and (max-width: 575.98px) {
  section.content div#news ul.pagination li.page-item {
    display: none;
  }
  section.content div#news ul.pagination li.page-item:first-of-type, section.content div#news ul.pagination li.page-item:last-of-type {
    display: none;
  }
  section.content div#news ul.pagination li.page-item:nth-of-type(2), section.content div#news ul.pagination li.page-item:nth-last-of-type(2) {
    display: block;
  }
}
section.content div#news div#content {
  margin-bottom: 32px;
}
section.content div#news div#content > div div.editable_content h3 {
  margin-bottom: 8px;
}
section.content div#news div#content > div div.editable_content p {
  margin-bottom: 24px;
}
section.content div#news div.back_list {
  text-align: center;
  margin-bottom: 64px;
}
section.content div#news div.back_list a {
  background: #000;
  border-radius: 5px;
  color: #fff;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 24px;
  padding-right: 24px;
}
section.content div#news div.back_list a:hover {
  background: #a00;
}
section.content div#contact {
  margin-bottom: 48px;
}
section.content div#contact div.contact_info {
  display: flex;
  flex-wrap: wrap;
  margin-left: -16px;
  margin-right: -16px;
  align-items: flex-start !important;
  justify-content: space-between !important;
  margin-left: 0px;
  margin-right: 0px;
}
@media screen and (max-width: 576px) {
  section.content div#contact div.contact_info {
    margin-left: 0px;
    margin-right: 0px;
  }
}
section.content div#contact div.contact_info div.info_content {
  flex-basis: 0;
  flex-grow: 1;
  flex: 0 0 33.3333333333%;
  max-width: 33.3333333333%;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
}
section.content div#contact div.contact_info div.info_content dl dt {
  font-size: 1.25rem;
  color: #0f7c25;
  margin-bottom: 16px;
}
section.content div#contact div.contact_info div.info_content dl dd {
  margin-bottom: 12px;
  padding-left: 24px;
}
section.content div#contact div.contact_info div.info_content dl dd.location {
  text-decoration: none;
}
section.content div#contact div.contact_info div.info_content dl dd.location i {
  width: -moz-fit-content;
  width: fit-content;
  border: none;
  border-radius: 8px;
  text-align: center;
  transition: all 0.5s ease-in-out;
  font-family: "Material Icons";
  font-family: "Material Icons Round";
}
section.content div#contact div.contact_info div.info_content dl dd.location i::before {
  font-size: 2rem;
  font-weight: normal;
  font-style: normal;
  color: #a00;
  line-height: 100%;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: "liga";
  display: inline-block;
}
section.content div#contact div.contact_info div.info_content dl dd.location i:hover {
  color: #000;
}
section.content div#contact div.contact_info div.info_content dl dd.location i:active {
  color: #000;
}
section.content div#contact div.contact_info div.info_content dl dd.location i::before {
  content: "\e55f";
}
section.content div#contact div.contact_info div.info_content dl dd.location i {
  position: relative;
}
section.content div#contact div.contact_info div.info_content dl dd.location i::before {
  font-size: 1.5rem;
  color: #0f7c25;
  position: absolute;
  top: -2px;
  left: -1.75rem;
}
section.content div#contact div.contact_info div.info_content dl dd.phone {
  text-decoration: none;
}
section.content div#contact div.contact_info div.info_content dl dd.phone i {
  width: -moz-fit-content;
  width: fit-content;
  border: none;
  border-radius: 8px;
  text-align: center;
  transition: all 0.5s ease-in-out;
  font-family: "Material Icons";
  font-family: "Material Icons Round";
}
section.content div#contact div.contact_info div.info_content dl dd.phone i::before {
  font-size: 2rem;
  font-weight: normal;
  font-style: normal;
  color: #a00;
  line-height: 100%;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: "liga";
  display: inline-block;
}
section.content div#contact div.contact_info div.info_content dl dd.phone i:hover {
  color: #000;
}
section.content div#contact div.contact_info div.info_content dl dd.phone i:active {
  color: #000;
}
section.content div#contact div.contact_info div.info_content dl dd.phone i::before {
  content: "\e0b0";
}
section.content div#contact div.contact_info div.info_content dl dd.phone i {
  position: relative;
}
section.content div#contact div.contact_info div.info_content dl dd.phone i::before {
  font-size: 1.5rem;
  color: #0f7c25;
  position: absolute;
  top: -2px;
  left: -1.75rem;
}
section.content div#contact div.contact_info div.info_content dl dd.fax {
  text-decoration: none;
}
section.content div#contact div.contact_info div.info_content dl dd.fax i {
  width: -moz-fit-content;
  width: fit-content;
  border: none;
  border-radius: 8px;
  text-align: center;
  transition: all 0.5s ease-in-out;
  font-family: "Material Icons";
  font-family: "Material Icons Round";
}
section.content div#contact div.contact_info div.info_content dl dd.fax i::before {
  font-size: 2rem;
  font-weight: normal;
  font-style: normal;
  color: #a00;
  line-height: 100%;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: "liga";
  display: inline-block;
}
section.content div#contact div.contact_info div.info_content dl dd.fax i:hover {
  color: #000;
}
section.content div#contact div.contact_info div.info_content dl dd.fax i:active {
  color: #000;
}
section.content div#contact div.contact_info div.info_content dl dd.fax i::before {
  content: "\ead8";
}
section.content div#contact div.contact_info div.info_content dl dd.fax i {
  position: relative;
}
section.content div#contact div.contact_info div.info_content dl dd.fax i::before {
  font-size: 1.5rem;
  color: #0f7c25;
  position: absolute;
  top: -2px;
  left: -1.75rem;
}
section.content div#contact div.contact_info div.info_content dl dd.email {
  text-decoration: none;
}
section.content div#contact div.contact_info div.info_content dl dd.email i {
  width: -moz-fit-content;
  width: fit-content;
  border: none;
  border-radius: 8px;
  text-align: center;
  transition: all 0.5s ease-in-out;
  font-family: "Material Icons";
  font-family: "Material Icons Round";
}
section.content div#contact div.contact_info div.info_content dl dd.email i::before {
  font-size: 2rem;
  font-weight: normal;
  font-style: normal;
  color: #a00;
  line-height: 100%;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: "liga";
  display: inline-block;
}
section.content div#contact div.contact_info div.info_content dl dd.email i:hover {
  color: #000;
}
section.content div#contact div.contact_info div.info_content dl dd.email i:active {
  color: #000;
}
section.content div#contact div.contact_info div.info_content dl dd.email i::before {
  content: "\e0be";
}
section.content div#contact div.contact_info div.info_content dl dd.email i {
  position: relative;
}
section.content div#contact div.contact_info div.info_content dl dd.email i::before {
  font-size: 1.5rem;
  color: #0f7c25;
  position: absolute;
  top: -2px;
  left: -1.75rem;
}
section.content div#contact div.contact_info div.info_content dl dd.clock {
  text-decoration: none;
}
section.content div#contact div.contact_info div.info_content dl dd.clock i {
  width: -moz-fit-content;
  width: fit-content;
  border: none;
  border-radius: 8px;
  text-align: center;
  transition: all 0.5s ease-in-out;
  font-family: "Material Icons";
  font-family: "Material Icons Round";
}
section.content div#contact div.contact_info div.info_content dl dd.clock i::before {
  font-size: 2rem;
  font-weight: normal;
  font-style: normal;
  color: #a00;
  line-height: 100%;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: "liga";
  display: inline-block;
}
section.content div#contact div.contact_info div.info_content dl dd.clock i:hover {
  color: #000;
}
section.content div#contact div.contact_info div.info_content dl dd.clock i:active {
  color: #000;
}
section.content div#contact div.contact_info div.info_content dl dd.clock i::before {
  content: "\e192";
}
section.content div#contact div.contact_info div.info_content dl dd.clock i {
  position: relative;
}
section.content div#contact div.contact_info div.info_content dl dd.clock i::before {
  font-size: 1.5rem;
  color: #0f7c25;
  position: absolute;
  top: -2px;
  left: -1.75rem;
}
section.content div#contact div.contact_info .googlemap {
  flex-basis: 0;
  flex-grow: 1;
  flex: 0 0 66.6666666667%;
  max-width: 66.6666666667%;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
}
section.content div#contact div.contact_info .googlemap iframe {
  width: 100%;
  height: 350px;
  border: none;
}
section.content div#sitemap > div div.sitemap_intro {
  margin-bottom: 24px;
}
section.content div#sitemap > div div.sitemap_intro div.intro {
  margin-top: 24px;
  margin-bottom: 24px;
}
section.content div#sitemap > div div.sitemap_intro div.intro dl {
  margin-bottom: 32px;
}
section.content div#sitemap > div div.sitemap_intro div.intro dl dt {
  font-size: 1.5rem;
  color: #4eb346;
  margin-bottom: 16px;
}
section.content div#sitemap > div div.sitemap_intro div.intro dl dd {
  padding-left: 48px;
  text-decoration: none;
}
section.content div#sitemap > div div.sitemap_intro div.intro dl dd i {
  width: -moz-fit-content;
  width: fit-content;
  border: none;
  border-radius: 8px;
  text-align: center;
  transition: all 0.5s ease-in-out;
  font-family: "Material Icons";
}
section.content div#sitemap > div div.sitemap_intro div.intro dl dd i::before {
  font-size: 2rem;
  font-weight: normal;
  font-style: normal;
  color: #a00;
  line-height: 100%;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: "liga";
  display: inline-block;
}
section.content div#sitemap > div div.sitemap_intro div.intro dl dd i:hover {
  color: #000;
}
section.content div#sitemap > div div.sitemap_intro div.intro dl dd i:active {
  color: #000;
}
section.content div#sitemap > div div.sitemap_intro div.intro dl dd i::before {
  content: "\e061";
}
section.content div#sitemap > div div.sitemap_intro div.intro dl dd i {
  position: relative;
}
section.content div#sitemap > div div.sitemap_intro div.intro dl dd i::before {
  font-size: 1.25rem;
  color: #666;
  position: absolute;
  top: 0;
  left: -1.5rem;
}
section.content div#sitemap > div div.sitemap_intro h3.sitemap_title {
  font-size: 1.5rem;
  color: #4eb346;
  margin-bottom: 8px;
}
section.content div#sitemap > div div.sitemap_intro ol.sitemap_tree {
  width: 100%;
  background: #fffdf3;
  border-width: 3px;
  border-color: #0f7c25;
  border-style: solid;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 12px;
  padding-right: 12px;
}
section.content div#sitemap > div div.sitemap_intro ol.sitemap_tree li {
  border-bottom-width: 1px;
  border-bottom-color: #ccc;
  border-bottom-style: solid;
  font-size: 1.5rem;
}
section.content div#sitemap > div div.sitemap_intro ol.sitemap_tree li:last-of-type {
  border: none;
}
section.content div#sitemap > div div.sitemap_intro ol.sitemap_tree li a {
  display: block;
  color: #0f7c25;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 8px;
  padding-right: 8px;
}
section.content div#sitemap > div div.sitemap_intro ol.sitemap_tree li a:focus {
  text-decoration: underline;
}
section.content div#sitemap > div div.sitemap_intro ol.sitemap_tree li.home {
  background: #0f7c25;
  border-radius: 10px;
  color: #fff;
  text-align: center;
  margin-bottom: 24px;
}
section.content div#sitemap > div div.sitemap_intro ol.sitemap_tree li.home a {
  color: #fff;
  border-radius: 5px;
}