aside
	.guide_title
			a.guide_title(href="#L" accesskey="L" name="L" id="aside_nav" title="左側選單區塊") :::
	ul
		li
			a(href="about.html" title="進入關於二手輔具資源站頁面")
				|關於二手輔具資源站
		li
			a(href="about02.html" title="進入回收流程頁面")
				|回收流程
		li
			a(href="about03.html" title="進入維修流程頁面")
				|維修流程
		li
			a(href="about04.html" title="進入借用流程頁面")
				|借用流程